<h1>Pages#projects</h1>
<p>Find me in app/views/pages/projects.html.erb</p>

<img src="/app/assets/images/recipe-card-1.png" alt="">





<div class="container">
            <div class="text-center mt-5 mb-5">
                <div class="about-me"> <h1>Acerca de mi</h1> </div>
                <div class="subtitulo"> <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, dolor. Ab doloribus, possimus veritatis unde nisi quas quae vel sed similique, nobis modi architecto, deserunt recusandae laudantium dolorem. Corporis, eum?</p></div>
            </div>
    
            <div class="row cards container mb-5">
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/app/assets/images/recipe-card-1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Fotografa de comida</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem doloribus magnam perspiciatis distinctio adipisci.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
    
    
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/app/assets/images/recipe-card-1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Critica Culinaria</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem doloribus magnam perspiciatis distinctio adipisci.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                    </div>
                </div>
    
    
    
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/app/assets/images/recipe-card-1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bloggero de viaje</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem doloribus magnam perspiciatis distinctio adipisci.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>

                        </div>
                    </div>
                </div>
    
            </div>
        </div>